@include new('course') {
	margin: 15px 0 30px;
	padding: 10px;
	background: #FFE3AC;
	border-radius: 3px;

	@include has ('title') {
		@extend .main__subheading;
		padding: 0 .5rem; 
		font-family: 'gilroy extrabold', open-sans, sans-serif;
		color: $violet;
	}

	@include has ('description') {
		@extend .row;
		@extend .middle-sm;
	}

	@include has ('text') {
		margin: 5px 0 20px;
		padding: 0 0.5rem;
		color: $black;
		font-family: 'Noto Sans', sans-serif;
		@include font-size(16px);
		p {
			margin: 5px 0;
		}
	}
}