@include new('teacher') {
	width: 100%;
	@extend .row;
	@extend .middle-xs;
	@extend .center-xs;
	@extend .start-sm;
	color: $black;
	margin: 5px 0;
	padding: 0 5px;
	font-size: 15px;
	font-family: 'Noto Sans', sans-serif;

	@include has('img-wrap') {
		@extend .img-wrap_round;
		width: 150px;
		height: 150px;
		margin: 0 1% 0 0;
		padding: 0;
		background: #fff;
	}
	
	@include has('img') {
		@extend .img;
	}

	@include has ('info') {		
		@extend .col-xs-12;	
		padding: 5px;
		text-align: center;
    	@include breakpoint(48em) {
    		max-width: 77%;
    		flex-basis: 77%;
			text-align: left;
    	}
		@include breakpoint(64em) {
			max-width: 80%;
			flex-basis: 80%;
		}
		.main__list {
		    padding: 0.3em 0 0.3em 1.2em;
		}
	}

	@include has ('name') {
    	font-size: 17px;
		font-family: 'gilroy extrabold', open-sans, sans-serif;
		color: $blue;
		padding: 0 0 0 1em;
	}

	@include has('link') {
		@extend .link;
	}

}