extend parent
block header_right 
	nav.header__right
		div.menu
			a(href="./index.html" class="menu__link") Главная
			a(href="./about.html" class="menu__link_active") О нас
			a(href="./courses.html" class="menu__link") Курсы
			a(href="./program.html" class="menu__link") Программа школы
			a(href="./terms.html" class="menu__link") Условия							
		div.header__auth 					
			a(href="./reg.html" class="header__link") Регистрация
		
block content
	div.content_about 
		div.content__container 
			main.main 
				h1.main__heading Кто такие мы?
				h2.main__subheading Мы — учителя московской школы «Интеллектуал»
				div.main__text. 
					Школа «Интеллектуал» — ресурсный центр для школ Москвы, других регионов и стран. Мы проводим курсы повышения квалификации для учителей из Казахстана, Китая, Сингапура, Кореи, Кипра.  Школьники из Китая и Сингапура приезжают на учебу к нам. Мы сотрудничаем с российскими школами: ежегодно проводим собственные олимпиады по биологии, математике, гуманитарным наукам, международную гуманитарную конференцию «Вышгород».
				
				div.main__text Наши проекты в области школ интенсивного обучения:
					ul.main__list 
						li.main__item Летняя школа интенсивного обучения на базе «Интеллектуала», 2005−2015
						li.main__item Выездная школа интенсивного обучения «Интеллектуал»—Татарстан, 2013
						li.main__item Выездная школа интенсивного обучения «Интеллектуал»—Якутия, 2015−2016 <a href="https://vk.com/video178133363_456239018?list=f59a0ad79be57a204e" class="main__link">(посмотрите слайдшоу)</a>
						li.main__item Летняя гуманитарная школа на&nbsp;Соловецких островах, 2003−2016				
					
				div.content__photo.
					Сергей Анатольевич Беляев разрезает бублик на две одинаковые сцепленные части, ЛШИО&nbsp;2012, Москва, школа «Интеллектуал»
			
		
	