extend parent
block header_right 
	nav.header__right
		div.menu
			a(href="./index.html" class="menu__link") Главная
			a(href="./about.html" class="menu__link") О нас
			a(href="./courses.html" class="menu__link_active") Курсы
			a(href="./program.html" class="menu__link") Программа школы
			a(href="./terms.html" class="menu__link") Условия							
		div.header__auth 					
			a(href="./reg.html" class="header__link") Регистрация
			
block content
	div.content_courses 
		div.content__container 
			main.main 
				h1.main__heading Курсы 
				div.main__text_white Участникам школы интенсивного обучения из 7−9 классов мы предлагаем 8 учебных курсов. Можно выбрать два любых. Также у нас есть курсы для старшеклассников по подготовке к ЕГЭ.

				h2.main__subheading Курсы для 7−9 класса
				
				div.course 
					h2.course__title Математическая логика вокруг нас
					div.course__description 
						div.course__text 
							p. 
								На этом курсе мы будем решать логические задачи и обсуждать логические парадоксы, научимся доказывать и опровергать, отличать общее утверждение от частного, находить ошибки в правдоподобных, но неверных рассуждениях.
							p. 
								Некоторые занятия будут проходить в форме ролевых игр, на некоторых будут групповые соревнования. 
							
												
						div.teacher 
							div.teacher__img-wrap
								img(src="./assets/images/shnol.jpg" alt="Преподаватель" class="teacher__img") 
							
							div.teacher__info 
								p <span class="teacher__name">Шноль Дмитрий Эммануилович</span> 	
								ul.main__list
									li.main__item учитель математики школы &laquo;Интеллектуал&raquo;,
									li.main__item автор учебного пособия &laquo;Логические задачи&raquo; в серии &laquo;Школьные математические кружки&raquo;,
									li.main__item Соросовский учитель, 
									li.main__item многократный лауреат гранта Москвы в области образования, 
									li.main__item победитель всероссийского конкурса &laquo;Школа будущего&raquo; (2010)

				div.course 
					h2.course__title Программирование
					div.course__description 
						div.course__text 
							p Мы научимся программировать на языке Python. Нам предстоит решать простые учебные задачи. Освоим  условные операторы, циклы, функции, работу со строками. Заодно изучим те разделы математики, которые нам понадобятся для решения задач по программированию. Курс подойдет и начинающим, и тем, кто уже программирует на других языках.
													
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/netrusova.jpg" alt="Преподаватель" class="teacher__img") 
							
							div.teacher__info 
								p 
									span.teacher__name Наталья Михайловна Нетрусова
									ul.main__list
										li.main__item учитель математики и заведующая кафедрой информатики школы &laquo;Интеллектуал&raquo;,
										li.main__item экс-директор Летней Экологической школы, 
										li.main__item директор Летней Компьютерной Школы, 
										li.main__item преподаватель, вожатый Летней школы интенсивного обучения «Интеллектуал»,
										li.main__item многократный лауреат гранта Москвы в области образования.

				div.course 
					h2.course__title Как увидеть формулу? Как  записать картинку?
					div.course__description 
						div.course__text 
							p Главная задача курса — установить связь между функциями и картинками на плоскости. Мы научимся «увидеть формулу», наглядно представить выраженную ею закономерность. Метод координат помогает сопоставить геометрические образы и формулы, лучше понять их свойства, помогает упростить решение  задач. Мы встретимся с прямыми и окружностями, поэкспериментируем с эллипсами и гиперболами, узнаем, что общего у параболы и радиотелескопа.
							
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/konovalenko.jpg" alt="Преподаватель" class="teacher__img") 
							
							div.teacher__info 
								p <span class="teacher__name">Коноваленко Елена Александровна</span>
									ul.main__list
										li.main__item учитель математики школы &laquo;Интеллектуал&raquo; 

				div.course 
					h2.course__title Геометрия для всех 
					div.course__description 
						div.course__text 
							p Курс содержит ключевые задачи и теоремы геометрии 7−9 класса в живом и понятном изложении. Геометрия станет ближе и любимей!						
						div.teacher 
							div.teacher__img-wrap 
								img.teacher__img(src="./assets/images/lamzin.jpg" alt="Преподаватель") 
							div.teacher__info 
								p 
									span.teacher__name Сергей Владимирович Ламзин
									ul.main__list
										li.main__item учитель математики в школе &laquo;Интеллектуал&raquo;,
										li.main__item сотрудник Красноярской Летней Школы (КЛШ), 
										li.main__item сотрудник Зимней Пущинской Школы (ЗПШ),
										li.main__item волонтёр организации &laquo;Мемориал&raquo; 

				div.course 
					h2.course__title Математика своими руками
					div.course__description 
						div.course__text 
							p Школьники думают, что математика — сухая, абстрактная наука, далекая от жизни, а математики только и  делают, что пишут в тетрадках. Мы предлагаем математический практикум, который изменит это отношение. Будем выдвигать идеи, проверять их, обсуждать и экспериментировать.
						
							p Серия увлекательных мастер-классов учит самостоятельному поиску и развивает вкус к красивым задачам. Каждое занятие посвящено отдельному математическому сюжету: проверить, какие суммы на двух костях выпадают чаще или построить эллипс. Мы поставим эксперименты, обсудим результаты, построим модели и изучим их.
												
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/sgibnev.jpg" alt="Преподаватель" class="teacher__img") 
						
							div.teacher__info 
								p 
									span.teacher__name Сгибнев Алексей Иванович
									ul.main__list
										li.main__item замдиректора Школы &laquo;Интеллектуал&raquo;, 
										li.main__item учитель математики, директор Летней школы интенсивного обучения &laquo;Интеллектуал&raquo;, 
										li.main__item многократный лауреат гранта Москвы в области образования.

				div.course 
					h2.course__title Как работает наш мозг? (Основы нейрофизиологии) 
					div.course__description 
						div.course__text 
							p Если мы пытаемся понять, как работает часть нашего организма: сердце, желудок или мышцы, нам придется разобраться, что и как заставляет эту часть работать. Изучая работу нервной системы, мы намного лучше понимаем, как работает весь организм.
							p Мы разберемся как устроены те сигналы, которые мозг получает от органов. Узнаем, почему некоторыми органами мы управляем по собственному желанию, а другими — не можем. Изучим, где и как в мозге «спрятаны» наши характер, привычки и знания. Поговорим, почему работа мозга может нарушаться и как эти нарушения исправлять.
												
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/alexeev.png" alt="Преподаватель" class="teacher__img") 
							
							div.teacher__info
								p 
									span.teacher__name Алексеев Владимир Владимирович
									ul.main__list
										li.main__item выпускник кафедры физиологии человека и животных биологического факультета МГУ (2000 год), 
										li.main__item преподаватель биологии школы «Интеллектуал» и Физтех-лицея им. П.Л. Капицы, 
										li.main__item организатор всероссийских образовательных мероприятий – Летней экологической школы и Межрегиональной биологической олимпиады.

				div.course 
					h2.course__title Патологическая физиология человека 
					div.course__description 
						div.course__text 
							p Это курс о том, как и почему нарушается работа нашего организма. Курс рассчитан на тех, кто уже изучал или изучает строение организма человека в школе.
							p Среди болезней человека большинство — редкие, о которых необходимо знать лишь врачам. Потому что шанс встретиться с ними у нас, к счастью, мал. Но есть такие, о которых слышали все, потому что встречаются они часто. Мы разберёмся, почему эти болезни настолько распространены, как они развиваются, как их лечат и что делать, чтобы сохранить здоровье надолго. 
												
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/alexeev.png" alt="Преподаватель" class="teacher__img")
						
							div.teacher__info
								p 
									span.teacher__name Алексеев Владимир Владимирович
									ul.main__list
										li.main__item выпускник кафедры физиологии человека и животных биологического факультета МГУ (2000 год), 
										li.main__item преподаватель биологии школы «Интеллектуал» и Физтех-лицея им. П.Л. Капицы, 
										li.main__item организатор всероссийских образовательных мероприятий – Летней экологической школы и Межрегиональной биологической олимпиады.

				div.course
					h2.course__title Лингвистика 
					div.course__description
						div.course__text 
							p Откуда берутся исключения из правил? Зачем нужна орфография? Одинаково ли мыслят люди, говорящие на разных языках? На занятиях по лингвистике вы научитесь формулировать языковые закономерности и узнаете, какие фонетические, грамматические и лексические изменения произошли в русском языке.
										
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/baranova.jpg" alt="Преподаватель" class="teacher__img" )							 
							div.teacher__info 
								p 
									span.teacher__name Баранова Татьяна Анатольевна
									ul.main__list
										li.main__item выпускница филологического факультета с доп. специальностью «История» Московского Педагогического Государственного Университета, 
										li.main__item учитель русского языка в школе &laquo;Интеллектуал&raquo; с 2010 года.


				h2.main__subheading Подготовка к ЕГЭ

				div.course
					h2.course__title Стереометрические задачи
					div.course__description
						div.course__text 
							p Цель курса: помочь школьнику научиться решать задачи №16 (в прошлом С2) единого госэкзамена по математике профильного уровня. 
							p Тема курса: вычисление расстояний и углов в призмах и пирамидах.
							p К этой теме относятся почти все задачи по стереометрии, которые были на ЕГЭ начиная с 2009–2010 учебного года. Мы рассмотрим стандартные методы решения стереометрических задач, традиционно изучаемые в школьной программе. Мы не включаем сюда методы аналитической геометрии, основанные на скалярном произведении векторов и уравнении плоскости. 
							p Курс рассчитан на школьников с любым начальным уровнем. Он содержит материал, необходимый и достаточный для полноценной подготовки к задаче №16: 
								ul.main__list
									li.main__item мы разберем нужную теорию и примеры решения задач;
									li.main__item решим тренировочные задачи;
									li.main__item обсудим решения этих задач; 
									li.main__item bonus: заинтересованные школьники получат Задачник ЕГЭ-2016.
										
						div.teacher 
							div.teacher__img-wrap 
								img(src="./assets/images/konovalenko.jpg" alt="Преподаватель" class="teacher__img") 
							
							div.teacher__info 
								p <span class="teacher__name">Коноваленко Елена Александровна</span>
									ul.main__list
										li.main__item учитель математики школы &laquo;Интеллектуал&raquo; 



						