extend parent
block header_right 
	nav.header__right
		div.menu
			a(href="http://sch-int.ru/intensive/winter2017/index.html" class="menu__link_active") Главная
			a(href="./about.html" class="menu__link") О нас
			a(href="./courses.html" class="menu__link") Курсы
			a(href="./program.html" class="menu__link") Программа школы
			a(href="./terms.html" class="menu__link") Условия							
		div.header__auth 					
			a(href="./reg.html" class="header__link") Регистрация
			
block content
	div.content
		div.content__container
			main.main
				h1.main__heading Школа интенсивного обучения &laquo;Интеллектуал&raquo;
				h2.main__subheading Кипр, 17-24 февраля 2017 года
				h2.main__subheading Классы: 7-9
				h3.main__subheading Язык обучения: русский
				div.main__text.
					Выездные школы — важная неформальная часть российского образования. Предлагаем школу интенсивного обучения на Кипре.
				div.main__text.
					Мы делаем школу для учеников 7−9 классов, которые интересуются математикой, информатикой, филологией, химией и биологией. Если вы не боитесь нестандартных заданий, любите общаться со сверстниками и взрослыми, готовы узнавать новое, приезжайте к нам. Вас ждет интеллектуально насыщенная жизнь, общение с заинтересованными взрослыми и сверстниками по поводу науки. 
				div.main__text.
					Родители поймут уровень знаний и учебной мотивации детей. В первый день школы мы тестируем учеников, а по окончании школы выдаем диплом и вкладыш с пройденными курсами.
				div.main__text.
					Старшеклассникам мы предлагаем отдельные интенсивы для подготовки к ЕГЭ по математике, русскому языку и биологии.
				div.main__text.
					Зовем учителей, работающих в школах Кипра, приехать в школу стажерами. Вы получите опыт проведения нестандартных курсов и организации выездных школ, сможете в неформальной обстановке проконсультироваться с коллегами из московской школы «Интеллектуал».
				div.content__photo.
					Ксения Хабалова на лекции по оригамике, ЛШИО 2014, Москва, школа «Интеллектуал»
