extend parent
block header_right 
	nav.header__right
		div.menu
			a(href="http://sch-int.ru/intensive/winter2017/index.html" class="menu__link") Главная
			a(href="./about.html" class="menu__link") О нас
			a(href="./courses.html" class="menu__link") Курсы
			a(href="./program.html" class="menu__link_active") Программа школы
			a(href="./terms.html" class="menu__link") Условия							
		div.header__auth 					
			a(href="./reg.html" class="header__link") Регистрация
			
block content
	div.content_program
		div.content__container 
			main.main 
				h1.main__heading Программа школы 
				div.main__text.
					Публикуем предварительную программу школы. Начало и конец школы неизменны, а в программе учебных дней возможны перестановки.

				h2.main__subheading 10-30 января 
				div.main__text. 
					Регистрация участников 				

				h2.main__subheading 16 февраля, чт 
				div.main__text. 
					Заезд участников
				

				h2.main__subheading 17 февраля, пт (после обеда) 
				div.main__text. 
					Знакомство, открытие школы, представление курсов, входное тестирование
				
				
				h2.main__subheading 18  февраля, сб 
				div.main__text. 
					Учебные курсы, кружки, игра &laquo;Математическая регата&raquo;
				 
				
				h2.main__subheading 19 февраля, вс 
				div.main__text. 
					Учебные курсы, кружки, игра &laquo;Шляпа&raquo;				

				h2.main__subheading 20 февраля, пн 
				div.main__text. 
					Учебные курсы, кружки, игра &laquo;Что? Где? Когда?&raquo;
			
				h2.main__subheading 21 февраля, вт 
				div.main__text. 
					Учебные курсы, кружки, встреча с биологической и исторической экспедициями «Интеллектуала», игра «Лабиринт знаний», серия педагогических семинаров для учителей
				
				h2.main__subheading 22 февраля, ср 
				div.main__text. 
					Учебные курсы,
					кружки,
					игра &laquo;Универсальный научный турнир&raquo;
					
				h2.main__subheading 23 февраля, чт 
				div.main__text. 
					Учебные курсы, кружки, игра «Шляпа»
					
				h2.main__subheading 24 февраля, пт 
				div.main__text. 
					Зачеты, подведение итогов, вручение дипломов и наград, закрытие школы

				h2.main__subheading 25 февраля, сб 
				div.main__text. 
					Отъезд, подведение итогов со стажерами школы, педагогические семинары для учителей

				div.content__photo.
					Екатерина Фадеева рассказывает свой проект, ЛШИО 2015, Москва, школа «Интеллектуал»

				