extend parent
block header_right 
	nav.header__right
		div.menu
			a(href="http://sch-int.ru/intensive/winter2017/index.html" class="menu__link") Главная
			a(href="./about.html" class="menu__link") О нас
			a(href="./courses.html" class="menu__link") Курсы
			a(href="./program.html" class="menu__link") Программа школы
			a(href="./terms.html" class="menu__link") Условия							
		div.header__auth 					
			a(href="./reg.html" class="header__link_active") Регистрация
			
block content
	div.content_reg
		div.content__container 
			main.main 
				h1.main__heading Регистрация 
				ul.main__list 
					li.main__item 						
						a(class="main__link" href="https://goo.gl/forms/otLGI1DpEtRLPZ9T2") Регистрация для учеников 7-9 классов 
					li.main__item 
						a(class="main__link" href="https://goo.gl/forms/THDx9thr1gyp0pRC3") Регистрация для учеников 10-11 классов 
					li.main__item 
						a(class="main__link" href="https://goo.gl/forms/gnE2MEXwx5EnOI0b2") Регистрация для учителей 
				div.content__photo.
					Участницы ЛШИО-2016 обсуждают решение задачи, Якутск, Малая академия наук Республики Саха (Якутия)
					
